<div class="board">
  <% @game.current_board.each_with_index do |square, i| %>
  <div class="boardsquare" id="<%= i %>">
    <% case square.to_i when 0 %> <%= i %> 
      <% when 1 %><p class='naught'>O</p>
      <% when 2 %><p class='cross'>X</p>
      <% else %>Err
    <% end %>
  </div>
  <% end %>
</div>