<div class="c4board">
  <% 7.times do |i| %>
  <div class="c4head">
  <%= radio_button_tag(:column, i) %></div>
  <% end %>

  <% 6.times do |i| %>
    <div class="c4row">
      <% @game.c4board.send("r#{i+1}").split(//).each do |cell| %>
      <div class="c4cell">
      <% if cell == "0" %>
      <%= image_tag('c4blank.png') %>
      <% elsif cell == "1" %>
      <%= image_tag('c4red.png') %>
      <% elsif cell == "2" %>
      <%= image_tag('c4blue.png') %>
      <% end %>
      </div>
      <% end %>
    </div>
  <% end %>
</div>