/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  margin: 0;
  font-family: verdana, arial, sans-serif;
  background-color: pink;
  font-size: 0.8em;
  background-image: url(bg.gif);
}

div.board {
  width: 320px;
  height: 320px;
  background-image: url(boardbg.png)
}

div.head {
  /*background-color: black;*/
  background: radial-gradient(at top right, darkred 10%, black 90%); 
  color: white;
  padding: 5px;
}

div.head li {
  /*display: inline;*/
  list-style-type: none;

}

div.navbar {
  /*background-color: red;*/
  height: 30px;
}

div.headerinfo {
margin-top: 60px;
}

div.head a {
  color: white;
}

div.main {
  margin-left: 20px;
}

p.naught, p.cross {
  height: 100%;
  margin: 0;
  font-size: 4em;
  color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 98px;  
}

p.naught {
  /*background-color: rgba(255,0,0,0.25);*/
}

p.cross {
  /*background-color: blue;*/
}

a {
  color: black;
}

a:hover {
  color: white;
}

div.userimage img {
  border: 5px solid black;
  float: right;
  margin-right: 50px;
  box-shadow: 10px 10px 5px #000000;
}

div.boardsquare {
  float: left;
  width: 100px;
  height: 100px;
  /*border: 1px solid black;*/
}

div.rpsimage {
  float: left;
}

.blank_button {
    height: 100px;
    width: 100px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    outline:none;
}

.blank_button:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {  
  50% { opacity: 0.0; }
}
div.newc4board{
  border-right: 5px solid #001d71;
/*  height: 338px;
  width: 364px;*/
  text-align: center;
  display: inline-block;
  height: 310px;
}
div.newc4head {
  width:350px;
  border: 5px solid #001d71;
  margin-left: 50px;
  transform: skew(-20deg);
  height: 20px;
}
div.newc4foot {
  width:355px;
  border-bottom: 5px solid #001d71;
  border-right: 5px solid #001d71;
  margin-left: 50px;
  transform: skew(-20deg);
  height: 25px;
  margin-top: -30px;
}

div.c4newbutton {
  width: 50px;
  display: inline-block;
  float:left;
}

div.newc4boardpieces {
  border: 5px solid #001d71;
  margin-left: 44px;
  margin-right: 5px;
  height: 300px;
  width: 350px;
}

div.newc4row {
  height: 50px;
  max-width: 350px;
}

div.newc4cell {
  /*display: inline-block;*/
  max-width: 50px;
  float: left;
}

div.newc4cell img {
  margin: 0px;
  padding: 0px;
  display: block;
}

div.c4board{
  border: 5px solid #001d71;
  height: 338px;
  width: 364px;
  text-align: center;
}
div.c4head {
  float: left;
  margin: 0px;
  border: 1px solid #001d71;
  border-bottom: 5px solid #001d71;
  height: 20px;
  width: 50px;
  padding: 0px;
  margin: 0px;
  transform: skew(-20deg);
  left: 15px;
  text-align: center;
}


div.c4cell {
  float: left;
  margin: 0px;
  border: 1px solid #001d71;
  height: 50px;
  width: 50px;
  padding: 0px;
  margin: 0px;
}

div.advmainboard {
  width: 462px;
  height: 462px;
  background-color: black;
  border: 2px solid black;
}

div.advgameboard {
  width: 150px;
  height: 150px;
  background-color: blue;
  float: left;
  border: 2px solid black;
}

div.board0 {
  /*background-color: yellow;*/
}

div.inactiveboard {
 opacity: 0.75;
}

div.advgamecell {
  height: 50px;
  width: 50px;
  float: left;
  font-size: 2em;
  text-align: center;
  color: white;
}
.adv_blank_button {
    height: 50px;
    width: 50px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    outline:none;
    color:white;
    font-size: 0.7em;
    vertical-align: center;
}

.adv_blank_button:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

div.advknot {
  background-image: url(obg.png)
}

div.advcross {
  background-image: url(xbg.png)
}

ul.menu
{
  float: left;
}

div.minesweeperboard {
  height: 395px;
  width: 408px;
  background-color: grey;
}

div.minesweepercell {
  height: 45px;
  width: 45px;
  display: inline-block;
  border: 1px solid black;
}

div.flagged {
  background-color: blue;
}

div.bomb {
  background-color: red;
}

div.mmrow {
  background-color: black;
  height: 50px;
  width: 400px;

}

div.mmrowscore {
 
  background-color: black;
  height: 50px;
  width: 800px;
}

div.mmcolour {
  float: left;
  height: 50px;
  width: 100px;

}

div.mmred {
  background-color: red;
}
div.mmgreen {
  background-color: green;
}
div.mmblue {
  background-color: blue;
}
div.mmyellow {
  background-color: yellow;
}
div.mmpurple {
  background-color: purple;
}
div.mmbrown {
  background-color: brown;
}
div.mmwhite {
  background-color: white;
}
div.mmgrey {
  background-color: grey;
}