/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  margin: 0;
  font-family: verdana, arial, sans-serif;
  background-color: pink;
  font-size: 0.8em;
  background-image: url(bg.gif);
}

div.board {
  width: 320px;
  height: 320px;
  background-image: url(boardbg.png)
}

div.head {
  /*background-color: black;*/
  background: radial-gradient(at top right, darkred 10%, black 90%); 
  color: white;
  padding: 5px;

}

div.head li {
  display: inline;

}

div.head a {
  color: white;
}

div.main {
  margin-left: 20px;
}

p.naught, p.cross {
  height: 100%;
  margin: 0;
  font-size: 4em;
  color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 98px;  
}

p.naught {
  /*background-color: rgba(255,0,0,0.25);*/
}

p.cross {
  /*background-color: blue;*/
}

a {
  color: black;
}

a:hover {
  color: white;
}

div.userimage img {
  border: 5px solid black;
  float: right;
  margin-right: 50px;
  box-shadow: 10px 10px 5px #000000;
}

div.boardsquare {
  float: left;
  width: 100px;
  height: 100px;
  /*border: 1px solid black;*/
}

div.rpsimage {
  float: left;
}

.blank_button {
    height: 100px;
    width: 100px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    outline:none;
}

.blank_button:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {  
  50% { opacity: 0.0; }
}

table.c4board{
  border: 1px solid black;
}

td.c4cell {
  border: 1px solid black;
  height: 50px;
  width: 50px;
}